.para {
  font-weight: bolder;
  /*font-family: "Times New Roman";*/
  font-size: larger;
}

body {
  /*background-color: rgb(158,151,151);*/
}

.box {
  background-color: red;
}

.col-md-6.col-lg-4.item {
  background-color: rgba(212,189,249,0.43);
}

